#misc-publishing-actions,
#minor-publishing-actions,
#save-post,
.icon-single .hidden {
	display: none;
}
.rwmb-radio-wrapper .rwmb-input {
	height: 160px;
	overflow: auto;
}
.rwmb-radio-wrapper .rwmb-input .icon-single {
	display: inline-block;
	margin: 0 5px 5px 0;
	border: 1px solid #dadada;
	border-radius: 3px;
	text-align: center;
	width: 36px;
	padding: 8px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.rwmb-radio-wrapper .rwmb-input .icon-single:hover,
.rwmb-radio-wrapper .rwmb-input .icon-single.active {
	border-color: rgba(0, 0, 0, .1);
	color: white;
	background: #3c0;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
}

/* Hide generated code label */
#generated-code .rwmb-custom-html-wrapper .rwmb-label {
	display: none;
}

#generated-code .rwmb-custom-html-wrapper .rwmb-input {
	width: 100%;
}
