.about-wrap .wp-badge {
	background-image: url(../images/meta-box.png);
	background-color: #fff;
	color: #222;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
}

.wp-badge:hover {
	text-decoration: none;
}

.feature-section.two-col {
	align-items: flex-start;
}

.feature-section.two-col h3:not(:first-child) {
	margin-top: 3em;
}

.feature-section img {
	display: block;
	box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

.nav-tab-active:focus {
	box-shadow: none;
}

.gt-tab-pane {
	display: none;
}

.gt-is-active {
	display: block;
}

.form-table tr {
	border-bottom: 1px solid #ddd;
}

.form-table th {
	padding-left: 10px;
}

.form-table th:not(:first-child),
.form-table td:not(:first-child) {
	width: 15%;
	text-align: center;
}

.about-wrap td h3 {
	margin-top: 0;
}

.form-table .dashicons {
	font-size: 35px;
	width: 35px;
	height: 35px;
}

.form-table .dashicons-yes {
	color: green;
}

.form-table .dashicons-no {
	color: red;
}

.products h3 {
	text-align: center;
}

.products img {
	box-shadow: none;
	margin: 0 auto;
}

.project {
	text-align: center;
}

.products .project__title {
	margin: 12px 0 0;
}

.project__title a {
	text-decoration: none;
}

.meta-box ul {
	font-size: 14px;
	margin: 2em 0;
}
.meta-box li a {
	text-decoration: none;
}
.meta-box .dashicons {
	color: #82878c;
	padding-right: 5px;
	font-size: 16px;
	vertical-align: middle;
}
