/* Import form */
.mbcpt-import-form {
	display: none;
	padding: 50px 0;
}
.mbcpt-import-form p {
	color: #555d66;
	font-size: 18px;
	font-style: normal;
	margin: 0;
	padding: 0;
	text-align: center;
}
.mbcpt-import-form form {
	background: #fafafa;
	border: 1px solid #e5e5e5;
	padding: 30px;
	margin: 30px auto;
	max-width: 380px;
}