// Do not show update nag.
.update-nag {
	display: none;
}

// Block editor components.
.components-tooltip {
	max-width: 400px;
}

#mb-cpt {
	margin-top: 0;
}

.mb-cpt {
	--color-gray: #999;
	--color-light: #e0e0e0;
	--color-red: #e53e3e;
	--color-pink: #ffebe8;
	--color: var(--wp-admin-theme-color, #2271b1);

	// Elements
	input[type="text"],
	input[type="number"],
	textarea,
	select {
		display: block;
		width: 100%;
		max-width: none;
	}

	svg {
		width: 16px;
		height: 16px;
		fill: var(--color-gray);
	}

	pre {
		padding: 0;
	}

	label {
		cursor: pointer;
	}

	.alert-error {
		color: var(--color-red);
		background: var(--color-pink);
	}

	&-required {
		color: var(--color-red);
	}

	&-loading {
		margin-left: 12px;
		font-style: italic;
	}

	// Tooltip
	&-tooltip-icon {

		// WordPress < 5.6
		svg {
			width: 14px;
			height: 14px;
			fill: var(--color-light);
			margin-left: 6px;
			top: 2px;
			position: relative;
		}

		// WordPress 5.6+
		.dashicon {
			color: var(--color-light);
			font-size: 14px;
			position: relative;
			top: 2px;
		}
	}

	// Fields
	&-field {
		margin-bottom: 24px;
		display: flex;
		justify-content: space-between;
	}

	&-label {
		width: 25%;
	}

	&-input {
		flex: 1;
	}

	&-description {
		font-style: italic;
		margin-top: 4px;
		color: var(--color-gray);
	}

	&-error {
		font-style: italic;
		color: var(--color-red);
	}

	// search icon
	&-icon-selected {
		display: flex;

		span {
			width: 36px;
			height: 36px;
			padding: 4px;
			box-sizing: border-box;
			font-size: 24px;
			border-radius: 4px;
			border: 1px solid #8c8f94;
			margin-right: 10px;
			display: grid;
			place-items: center;
		}

		.icon-fontawesome {
			position: relative;

			&:before {
				font-size: 18px;
			}
		}
	}

	&-items {
		display: grid;
		grid-template-columns: repeat(auto-fit, 65px);
		gap: 10px 15px;
		max-height: 25em;
		overflow: auto;
		padding: 1px;
		margin-top: 15px;
	}

	&-item {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		text-align: center;

		&:hover .mb-cpt-icon {
			box-shadow: 0 0 0 1px rgba(0, 0, 0, .3);
		}

		&:has(input:checked):hover .mb-cpt-icon {
			box-shadow: none;
		}

		&__text {
			color: var(--color-gray);
			font-size: 11px;
			line-height: 1.1;
			margin-top: 4px;
		}
	}

	&-icon {
		border-radius: 4px;

		.dashicons {
			width: 36px;
			height: 36px;
			padding: 4px;
			box-sizing: border-box;
			font-size: 24px;
			border-radius: 4px;
		}

		input {
			display: none;

			&:checked~.dashicons {
				color: #fff;
				background: var(--color);
			}
		}
	}

	&-result {
		code {
			font-size: 12px;
		}

		.react-codemirror2 {
			border: 1px solid var(--color-light);
			margin-bottom: 24px;
		}

		&__body {
			position: relative;
		}

		.button {
			position: absolute;
			top: 0;
			right: 0;
			border-color: var(--color-light);
			border-radius: 0 0 0 4px;
			z-index: 9;
			height: 30px;
		}
	}
}

// Tabs
.mb-header {
	position: sticky;
	top: 32px;
	z-index: 9;
	height: auto;
	padding: 12px;

	&__logo svg {
		width: 46px;
		height: 46px;
		display: block;
	}

	h1 {
		font-weight: 600;
		padding: 0;
	}

	.components-popover__content {
		background: #000;
		box-shadow: none;
		width: max-content;
	}
}

.mb-body__inner {
	position: static;
}

.mb-main {
	max-width: 60rem;
}

.mb-cpt-body {
	position: relative;

	.mb-cpt-code {
		margin-left: auto;
		height: auto;
		color: var(--color-gray);

		&:after {
			display: none;
		}

		svg {
			fill: currentColor;
		}

		&:hover,
		&.is-active {
			color: inherit;
		}
	}

	.components-tab-panel__tabs {
		border-bottom: 1px solid var(--color-light);
		align-items: center;
		flex-wrap: wrap;
		padding-inline: 24px;
		margin-bottom: 24px;
		gap: 32px;
	}

	.components-tab-panel__tabs-item {
		padding: 0;
	}

	.components-tab-panel__tab-content {
		padding: 0 24px;
	}

	.components-form-token-field__help {
		display: none;
	}
}

#tab-panel-0-general-view .mb-cpt-field:nth-child(3) {
	padding-bottom: 24px;
	border-bottom: 1px solid var(--color-light);
}

.post-type-mb-post-type #tab-panel-0-general-view {

	.mb-cpt-field:nth-child(6) {
		padding-bottom: 12px;
		border-bottom: 1px solid var(--color-light);
	}

	.mb-cpt-field:last-child {
		padding-top: 24px;
		border-top: 1px solid var(--color-light);
	}
}

.post-type-mb-taxonomy #tab-panel-0-general-view {

	.mb-cpt-field:nth-child(5) {
		padding-bottom: 12px;
		border-bottom: 1px solid var(--color-light);
	}
}

.wp-menu-image {
	img {
		max-width: 20px;
	}
}

/* Admin color schemes */
.admin-color-blue .mb-cpt {
	--color: var(--wp-admin-theme-color, #e1a948);
}

.admin-color-coffee .mb-cpt {
	--color: var(--wp-admin-theme-color, #c7a589);
}

.admin-color-ectoplasm .mb-cpt {
	--color: var(--wp-admin-theme-color, #a3b745);
}

.admin-color-light .mb-cpt {
	--color: var(--wp-admin-theme-color, #04a4cc);
}

.admin-color-midnight .mb-cpt {
	--color: var(--wp-admin-theme-color, #e14d43);
}

.admin-color-modern .mb-cpt {
	--color: var(--wp-admin-theme-color, #3858e9);
}

.admin-color-ocean .mb-cpt {
	--color: var(--wp-admin-theme-color, #9ebaa0);
}

.admin-color-sunrise .mb-cpt {
	--color: var(--wp-admin-theme-color, #dd823b);
}

.mb-cpt-message {
	position: absolute;
	top: 15px;
	left: 50%;
	transform: translateX(-50%);
	animation: fadein .5s;
	font-weight: 600;
	color: #00a32a;
}

@media (max-width:767px) {
	.mb-cpt-field {
		flex-direction: column;
	}
}