#mb-cpt-upgrade .dashicons {
	color: #46b450;
}

#mb-cpt {
	margin-top: 0;
}
.mb-cpt {
	--color-gray: #999;
	--color-light: #ccd0d4;
	--color-red: #e53e3e;
	--color-pink: #ffebe8;

	// Elements
	input[type="text"],
	input[type="number"],
	textarea,
	select {
		display: block;
		width: 100%;
		max-width: none;
	}
	svg {
		width: 16px;
		height: 16px;
		fill: var(--color-gray);
	}
	pre {
		padding: 0;
	}
	.alert-error {
		color: var(--color-red);
		background: var(--color-pink);
	}
	&-required {
		color: var(--color-red);
	}
	&-loading {
		margin-left: 12px;
		font-style: italic;
	}
		// Tooltip
	&-tooltip-icon {
		// WordPress < 5.6
		svg {
			width: 14px;
			height: 14px;
			fill: var(--color-light);
			margin-left: 6px;
			top: 2px;
			position: relative;
		}
		// WordPress 5.6+
		.dashicon {
			color: var(--color-light);
			font-size: 14px;
			position: relative;
			top: 2px;
		}
	}

	// Fields
	&-field {
		margin-bottom: 24px;
		display: flex;
		justify-content: space-between;
	}
	&-label {
		width: 25%;
		// font-weight: 700;
	}
	&-input {
		flex: 1;
	}
	&-description {
		font-style: italic;
	}

	&-choice {
		margin-right: 12px;
	}
	&-icon {
		position: relative;
		display: inline-block;
		margin: 0 4px 4px 0;

		svg {
			border: 1px solid var(--color-light);
			border-radius: 4px;
			width: 36px;
			height: 36px;
			padding: 8px;
			box-sizing: border-box;
			fill: currentColor;

			&:hover {
				border-color: var(--wp-admin-theme-color);
			}
		}
		.dashicons {
			border: 1px solid var(--color-light);
			border-radius: 4px;
			width: 36px;
			height: 36px;
			padding: 8px;
			box-sizing: border-box;

			&:hover {
				border-color: var(--wp-admin-theme-color);
			}
		}

		input {
			position: absolute;
			opacity: 0;

			&:checked ~ svg {
				fill: #fff;
				background-color: var(--wp-admin-theme-color);
				border-color: var(--wp-admin-theme-color);
			}
			&:checked ~ .dashicons {
				color: #fff;
				background-color: var(--wp-admin-theme-color);
				border-color: var(--wp-admin-theme-color);
			}
		}
	}

	&-result {
		code {
			font-size: 12px;
		}
		.react-codemirror2 {
			border: 1px solid var(--color-light);
			margin-bottom: 24px;
		}
		&__body {
			position: relative;
		}
		.button {
			position: absolute;
			top: 0;
			right: 0;
			border-color: var(--color-light);
			border-radius: 0 0 0 4px;
			z-index: 9;
			height: 30px;
		}
	}
}

// Tabs
.components-tab-panel__tabs,
.components-tab-panel__tab-content {
	background: #fff;
	border: 1px solid var(--color-light);
}
.components-tab-panel__tab-content {
	border-top: none;
	padding: 24px 16px 0;
	margin-bottom: 24px;
}
.components-tab-panel__tabs {
	align-items: center;
}
.mb-cpt-tabs {
	.mb-cpt-code {
		margin-left: auto;
		margin-right: 12px;
		height: auto;

		&.is-active {
			box-shadow: none;
		}
	}
}
