// Do not show update nag and meta boxes (to avoid layout shift when rendering the app).
.update-nag,
.metabox-holder {
	display: none;
}

// Block editor components.
.components-tooltip {
	max-width: 400px;
}

#mb-cpt {
	margin-top: 0;
}

.mb-cpt {
	// Color variables are inherited from MB Builder, which is enqueue from CDN.
	--color-red: #e53e3e;
	--color-pink: #ffebe8;

	// Elements
	input[type="text"],
	input[type="number"],
	textarea,
	select {
		display: block;
		width: 100%;
		max-width: none;
	}

	svg {
		width: 16px;
		height: 16px;
		fill: var(--color-gray);
	}

	pre {
		padding: 0;
	}

	label {
		cursor: pointer;
	}

	.alert-error {
		color: var(--color-red);
		background: var(--color-pink);
	}

	&-required {
		color: var(--color-red);
	}

	&-loading {
		margin-left: 12px;
		font-style: italic;
	}

	// Tooltip
	&-tooltip-icon {

		// WordPress < 5.6
		svg {
			width: 14px;
			height: 14px;
			fill: var(--color-light);
			margin-left: 6px;
			top: 2px;
			position: relative;
		}

		// WordPress 5.6+
		.dashicon {
			color: var(--color-light);
			font-size: 14px;
			position: relative;
			top: 2px;
		}
	}

	// Fields
	&-field {
		margin-bottom: 24px;
		display: flex;
		justify-content: space-between;

		&--nested {
			margin-left: 40px;
			margin-bottom: 12px;

			.components-base-control__field {
				margin-bottom: 0;
			}

			.components-toggle-control__label {
				font-size: 13px;
			}
		}
	}

	&-label {
		width: 25%;
	}

	&-input {
		flex: 1;
	}

	&-description {
		font-style: italic;
		margin-top: 4px;
		color: var(--color-gray);
	}

	&-toggle {
		margin-top: 12px;
	}

	&-error {
		font-style: italic;
		color: var(--color-red);
	}

	// Icon picker.
	&-icon {
		&__pick.button {
			border-color: var(--color-gray);
			color: inherit;
			width: 40px;
			padding: 0;
		}

		&__dropdown .components-popover__content {
			overflow-x: hidden !important;
		}

		&__search {
			width: 100%;
			margin-bottom: 12px;
		}

		&__items {
			display: grid;
			grid-template-columns: repeat(3, 80px);
			gap: 8px;
			max-height: 240px;
			width: calc(3 * 80px + 2 * 8px + 12px);
		}

		&__item {
			border-radius: 2px;
			padding: 6px;
			cursor: pointer;
			border: 1px solid transparent;

			.dashicons {
				font-size: 18px;
			}

			&:hover {
				border-color: var(--color-light);
			}

			&--selected,
			&--selected:hover {
				border-color: var(--color-primary);
				color: var(--color-primary);
			}
		}

		&__text {
			color: var(--color-gray);
			font-size: 11px;
			line-height: 1.1;
		}
	}

	&-icon-selected {
		display: flex;
		gap: 8px;

		span {
			min-width: 40px;
			height: 40px;
			box-sizing: border-box;
			border: 1px solid var(--color-gray);
			border-radius: 2px;
			display: grid;
			place-items: center;
		}

		.icon-fontawesome::before {
			font-size: 16px;
		}
	}

	&-result {
		code {
			font-size: 12px;
		}

		.CodeMirror {
			border: var(--border);
			margin-bottom: 24px;
		}

		&__body {
			position: relative;
		}

		.button {
			position: absolute;
			top: 0;
			right: 0;
			border-color: var(--color-light);
			border-radius: 0 0 0 4px;
			z-index: 9;
			height: 30px;
		}
	}
}

// Tabs
.mb-header {
	position: sticky;
	top: 32px;
	z-index: 9;
	height: auto;
	padding: 12px;

	&__logo svg {
		width: 46px;
		height: 46px;
		display: block;
	}

	h1 {
		font-weight: 600;
		padding: 0;
	}

	.components-popover__content {
		background: #000;
		box-shadow: none;
		width: max-content;
	}
}

.mb-body__inner {
	position: static;
}

.mb-main {
	max-width: 60rem;
}

.mb-cpt-body {
	position: relative;

	.mb-cpt-code {
		margin-left: auto;
		height: auto;
		color: var(--color-gray);

		&:after {
			display: none;
		}

		svg {
			fill: currentColor;
		}

		&:hover,
		&.is-active {
			color: inherit;
		}
	}

	.components-tab-panel__tabs {
		border-bottom: var(--border);
		flex-wrap: wrap;
		padding-inline: 24px;
		margin-bottom: 24px;
		gap: 24px;
	}

	.components-tab-panel__tabs-item {
		--wp-admin-border-width-focus: 3px;
		padding: 0;
	}

	.components-tab-panel__tab-content {
		padding-inline: 24px;
	}

	.components-form-token-field__help {
		display: none;
	}
}

.mb-cpt-divider {
	border-top: var(--border);
	margin-bottom: 24px;
}

.wp-menu-image {
	img {
		max-width: 20px;
	}
}

.mb-cpt-message {
	position: absolute;
	top: 15px;
	left: 50%;
	transform: translateX(-50%);
	animation: fadein .5s;
	font-weight: 600;
	color: #00a32a;
}

@media (max-width:767px) {
	.mb-cpt-field {
		flex-direction: column;
	}
}
